@import 'component/header.scss';
@import 'component/mixin.scss';
@import 'component/conten.scss';
@import 'component/card.scss';


body{
    margin: 0px;
    height: 100vh;
}
.main{
    width: 653px;
  margin: 70px auto 120px;
  
    
    
}
.wrap{
    background: linear-gradient(120deg, #0400ff3b 0.52%, #f9fb7638 35.41%, #4eff7425 63.63%, #00ffd022 99.03%);
    backdrop-filter: blur(500px);
    max-width: 100%;
    height: 1024px;
}
.container{
    max-width: 90%;
    margin: 0 auto;
  

}
.card-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

