<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/Public/sass/main.css">
    <title>Jobless </title>
</head>
<body>
    <div class="wrap">
        <div class="container">
            <!-- header -->
            <div class="header"
            data-aos="fade-down"
            data-aos-duration="2000"
            
            >
                <div class="logo">
                    <h1 > <strong> Jobless </strong></h1>
                </div>
                <div class="navbar">
                    <ul>
                        <li><a href="#"xx class="home">Home</a></li>
                        <li><a href="#" class="Discover">Discover</a></li>
                        <li><a href="#" class="Post">Post a Job</a></li>
                        <li><a href="#" class="Contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="btnlogin">
                    <button class="btn-login">Sign Up</button>
                </div>
            </div>
            <!-- end header  -->
            <!-- main -->
            <div class="main"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <div class="conten">
                    <h1 class="head">Get Connected to the Best Remote Jobs in Your Field</h1>
                    <p class="desc">Discover a wide range of remote opportunities on our platform and take control of your career</p>
                </div>
                <div class="cta">
                    <button class="btn">Explore Remote Jobs</button>
                    <a href="#" class="link">How it works?</a>
                </div>
            </div>
    
            <!-- card -->
            <div class="card-container"
            data-aos="fade-up"
            data-aos-duration="2000"
            >
                <div class="card ">
                    <section class="section satu">
                        <div class="icon figma">
                            <img class="figma" src="/Public/img/image1.png" alt="figma">
                        </div>
                        <div class="wtxt">
                        <h1 class="head-icon">Front-End Developer</h1>
                        <p class="name">Figma</p>
                        </div>
                    </section>
                    <section class="section dua">
                        <p class="descrition">We are looking for an experienced front-end developer to join our team.</p>
                    </section>
                    <section class="section tiga">
                        <button class="rust">Rust</button>
                        <p class="salary">$70,000 - $90,000</p>
                    </section>
                </div>
    
                <div class="card">
                    <section class="section satu">
                        <div class="icon fb">
                            <img class="fb" src="/Public/img/image2.png " alt="fb">
                        </div>
                        <div class="wtxt">
                            <h1 class="head-icon">Data Scientist</h1>
                            <p class="name">Facebook</p>
                        </div>
                       
                    </section>
                    <section class="section dua">
                        <p class="descrition">We are looking for an experienced front-end developer to join our team.</p>
                    </section>
                    <section class="section tiga">
                        <button class="rust">Python</button>
                        <p class="salary">$100,000 - $130,000</p>
                    </section>
                </div>

                <div class="card">
                    <section class="section satu">
                        <div class="icon unknow">
                            <img  class="unknow" src="/Public/img/image3.png" alt="unknow">
                        </div>
                        <div class="wtxt">
                        <h1 class="head-icon">Front-End Developer</h1>
                        <p class="name">Figma</p>
                        </div>
                    </section>
                    <section class="section dua">
                        <p class="descrition">We are looking for an experienced front-end developer to join our team.</p>
                    </section>
                    <section class="section tiga">
                        <button class="rust">Documentation</button>
                        <p class="salary">$60,000 - $80,000</p>
                    </section>
                </div>
            </div>
    

        </div>
    
        </div>
    </div>
    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
     AOS.init({
  // Global settings:
  disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
  startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
  initClassName: 'aos-init', // class applied after initialization
  animatedClassName: 'aos-animate', // class applied on animation
  useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
  disableMutationObserver: false, // disables automatic mutations' detections (advanced)
  debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
  throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
  

  // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
  offset: 120, // offset (in px) from the original trigger point
  delay: 0, // values from 0 to 3000, with step 50ms
  duration: 400, // values from 0 to 3000, with step 50ms
  easing: 'ease', // default easing for AOS animations
  once: true, // whether animation should happen only once - while scrolling down
  mirror: false, // whether elements should animate out while scrolling past them
  anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

});
    </script>
</body>
</html>