<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/scss/main.css" />
    <title>Swiftship</title>
  </head>
  <body>
    <div class="container">
        <header>
            <div class="logo">
                <h1><i>SWIFTSHIP</i></h1>
            </div>
            <div class="menu-wrap">
                <input type="checkbox" class="toggler">
                <div class="hamburger"><div></div></div>
                <div class="menu">
                  <div>
                    <div>
                      <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
        </header>
        
      <main>
        <div class="col-1">
          <section class="title">
            <h1 class="">
              Revolutionizing The Way You Ship, With Speed <br />
              And Precision
            </h1>
            <p class="">
              We offer fast, reliable, and secure delivery services for <br />
              packages of all sizes, anywhere in the world.
            </p>
          </section>
          <section class="btn-sec">
            <button>Request a Pickup</button>
            <div class="track">
              <img src="/src/img/truck.svg" alt="" />
              <p>Track Shipment</p>
            </div>
          </section>
        </div>
        <div class="col-2">
          <img id="item1" src="/src/img/Vector 2.svg" alt="path" />
          <img id="item2" src="/src/img/Group 2.svg" alt="" />
          <img id="item8" src="/src/img/Ellipse 1.svg" alt="" />
          <img id="item9" src="/src/img/Ellipse 2.svg" alt="" />
          <img id="item10" src="/src/img/Ellipse 3.svg" alt="" />
          <img id="item3" src="/src/img/Ellipse 4.svg" alt="" />
          <img id="item4" src="/src/img/Ellipse 5.svg" alt="" />
          <img id="item5" src="/src/img/Ellipse 6.svg" alt="" />
          <img id="item6" src="/src/img/Ellipse 7.svg" alt="" />
          <img id="item7" src="/src/img/navigation.svg" alt="" />
        </div>
      </main>
      <footer>
        <section>
          <h1>Fast Delivery</h1>
          <p>
            We understand that time is of the essence when it comes to shipping.
            That's why we offer fast delivery options for packages of all sizes,
            anywhere in the world.
          </p>
        </section>
        <section>
          <h1>Reliable Service</h1>
          <p>
            We pride ourselves on our reliability. We have a team of
            professionals who are dedicated to ensuring that your packages are
            delivered on time.
          </p>
        </section>
        <section>
          <h1>Secure Shipping</h1>
          <p>
            We use advanced tracking technology and secure handling techniques
            to ensure that your packages are delivered safely and securely.
          </p>
        </section>
      </footer>
    </div>

    
  </body>
</html>
