@use 'mixin';

.card{
    @include mixin.card(#ffffff);

    section{
        color: rgb(0, 0, 0);
        .icon{
            @include mixin.icon(white);
         
        }
        .fb{
            
            background-color: #1877F2;
         
        }
        .unknow{
           background-color: #040404
         
        }
        p{
            @include mixin.font-p(14px, normal,rgb(0, 0, 0));
        } 
        .descrition {
            @include mixin.font-p(14px, 30px,rgb(11, 11, 11));
          
    
        }
        .rust{
            @include mixin.btn(#001AFF,8px 15px, 13px,12px);
            color: white;
            border: none;
        }
        .rust:hover{
            @include mixin.animate();
            background-color: #040404;
        }
        .salary{
            font-weight: 600;
            color: #040404;
        }
    }  
    h1{
        @include mixin.font-h(18px)
    }
}

.card:hover{


        @include mixin.animate();
}

