@mixin block-list {
    padding: 0px;
    margin: 0px;

    li {
        list-style: none;
        padding: 0px 25px 0px 25px;
    }

    a {
        text-decoration: none;

    }

}
// font

@mixin fonth($fontsize) {
    font-weight: 600;
    font-size: $fontsize;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin fontp($fontsize) {
    font-weight: 400;
    font-size: $fontsize;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


// button
@mixin btn($bgcolor, $padding, $radius, $fontsize) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    background-color: $bgcolor;
    padding: $padding;
    cursor: pointer;
    font-weight: 600;
    font-size: $fontsize;

}

// Animasi
@mixin animate {
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transform:scale(1.03) ;
    -webkit-transform:scale(1.03) ;
    -moz-transform:scale(1.03) ;
    -ms-transform:scale(1.03) ;
    -o-transform:scale(1.03) ;
}

//flex grid

@mixin flex{
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    align-content: center;
    
}

@mixin grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

//padding margin

