body{
    background-color: #181818 ;
}
.container a {
    color: white;
}
.icon-logo{
    width:  15px;
    padding-bottom: 13px;
    
}
.btn{
    border: 1px solid rgb(255, 255, 255);
    color: white;
}
.btn:hover{
    background:#9d35fe;
    color: white;

}
.nav-link:hover{
    color: #9d35fe;
    
}