@import 'component/mixin.scss';
@import 'component/footer.scss';
@import 'component/content.scss';
@import 'component/header.scss';


body{
    background: #1A1A1A;
    margin: 0px;
}

.container{
    height: 1024px;
    max-width: 1000px;
    margin: 0px auto;
}