    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/src/style.css" />
        <title>Testimonial</title>
    </head>
    <body>
        <div class="wrap-all">
            <div class="container">
                <div class="wrap">
                <div class="heading">
                    <h1>Testimonial</h1>
                    <p>
                    Don't just take our word for it - see what actual users of our
                    service have to say about their experience.
                    </p>
                </div>
                <div class="icon-arrow">
                    <div class="wrap-arrow">
                    <img src="/src/img/arrow.svg" alt="left" />
                    </div>
                    <div class="wrap-arrow">
                    <img src="/src/img/arrow.svg" alt="right" class="arr-right" />
                    </div>
                </div>
                </div>
            </div>
            <div class="empty">
            </div>
            <div class="container-card">
                <div class="wrap-card">
                <div class="card 1">
                    <figcaption>
                    <p class="quote">
                        “I've been using this web hosting service for a few months now and
                        overall it's been fine. The uptime has been good and I haven't had
                        any major issues. The pricing is also reasonable. Nothing
                        particularly stands out as exceptional, but it gets the job done.”
                    </p>
                    </figcaption>
                    <div class="icon-rating">
                    <img src="/src/img/rateful.svg" alt="photo" />
                    <img src="/src/img/rateful.svg" alt="photo" />
                    <img src="/src/img/rateful.svg" alt="photo" />
                    <img src="/src/img/rateborder.svg" alt="photo" />
                    <img src="/src/img/rateborder.svg" alt="photo" />
                    </div>
                    <div class="profile">
                    <div class="photo">
                        <img src="/src/img/Ellipse 1 (1).svg" alt="photo" />
                    </div>
        
                        <h1 class="name">Tom Williams</h1>
                        <p class="capt">Software Developer</p>
                    
                    </div>
                </div>
        
                <div class="card 3">
                    <figcaption>
                        <p class="quote">
                        “I've been using this web hosting service for a few months now and
                        overall it's been fine. The uptime has been good and I haven't had
                        any major issues. The pricing is also reasonable. Nothing
                        particularly stands out as exceptional, but it gets the job done.”
                        </p>
                    </figcaption>
                    <div class="icon-rating">
                        <img src="/src/img/rateful.svg" alt="photo" />
                        <img src="/src/img/rateful.svg" alt="photo" />
                        <img src="/src/img/rateful.svg" alt="photo" />
                        <img src="/src/img/rateborder.svg" alt="photo" />
                        <img src="/src/img/rateborder.svg" alt="photo" />
                    </div>
                    <div class="profile">
                        <div class="photo">
                        <img src="/src/img/Ellipse 1 (2).svg" alt="photo" />
                        </div>
                        
                        <h1 class="name">Tom Williams</h1>
                        <p class="capt">Software Developer</p>
                        
                    </div>
                    </div>
        
                    <div class="card 2">
                    <figcaption>
                        <p class="quote">
                        “I've been using this web hosting service for a few months now and
                        overall it's been fine. The uptime has been good and I haven't had
                        any major issues. The pricing is also reasonable. Nothing
                        particularly stands out as exceptional, but it gets the job done.”
                        </p>
                    </figcaption>
                    <div class="icon-rating">
                        <img src="/src/img/rateful.svg" alt="photo" />
                        <img src="/src/img/rateful.svg" alt="photo" />
                        <img src="/src/img/rateful.svg" alt="photo" />
                        <img src="/src/img/rateborder.svg" alt="photo" />
                        <img src="/src/img/rateborder.svg" alt="photo" />
                    </div>
                    <div class="profile">
                        <div class="photo">
                        <img src="/src/img/Ellipse 1 (3).svg" alt="photo" />
                        </div>
                        
                        <h1 class="name">Tom Williams</h1>
                        <p class="capt">Software Developer</p>
                        
                    </div>
                    </div>

                    
        
            </div>
        </div>
    </body>
    </html>
