

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#141D26;;
}
.footer{
    position: absolute;
    bottom: 10px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 601px;
    background-color: #243447;
    border-radius: 15px;
    box-shadow: 0px 15px 60px 0px rgba(52, 81, 116, 0.15);
    padding: 35px 31px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile img,
.sosmed img,
.like img {
    max-width: 100%;
}

.section-1,
.section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-3{
    display: flex;
    justify-content:flex-start;
    gap: 20px;
}

.profile p {
    margin: 0;
}

.profile {
    display: flex;
    align-items: center;
    gap: 22px;
}

.john {
    font-size: 18px;
    font-weight: 700;
}

.user {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
}

.caption {
    font-size: 16px;
    line-height: 26px;
}

.tag {
    color: #1DA1F2;
}

.like {
    display: flex;
    align-items: center;
    gap: 5px;
}

figcaption {
    margin: 0;
}


@media screen and (min-width: 1025px) {
    .card {
        width: 601px; 
        padding: 35px 31px; 
     }
    }

@media screen and (max-width: 1024px) {
    .card  {
        width: 70%;
        padding: 35px 31px;
    }
}

/* js section */
.mode{
    position: absolute;
    bottom: 20px;
    right: 20px;

}


#themeToggle {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  
    border: none;
    outline: none;
    transition: background-color 0.3s;
}


#themeToggle #icon {
    filter: invert(var(--is-dark-theme)); /* Mengubah warna ikon sesuai dengan tema gelap atau terang */

    transition: fill 0.3s;
    -webkit-transition: fill 0.3s;
    -moz-transition: fill 0.3s;
    -ms-transition: fill 0.3s;
    -o-transition: fill 0.3s;
}






.white-theme {
    background-color: #fff;
    color: #333;
}

.white-theme .card {
    background-color: #fff;
}

.white-theme .profile p, .white-theme .john, .white-theme .user, .white-theme .caption, .white-theme .tag {
    color: #333;
}

.white-theme .like img {
    filter: invert(100%);
}
