<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/Style/style.css" />
    <title>Halodok Hero</title>
  </head>
  <body>
    <div class="empty">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="590"
        height="847"
        viewBox="0 0 590 847"
        fill="#000"
      >
        <path d="M80 0H590L510 847H0L80 0Z" fill="#9BEAE0" />
      </svg>
    </div>

    <div class="container">
      <header class="header">
        <div class="logo">
          <img src="/src/img/Frame.svg" alt="logo" />
          <figcaption><strong> Halodok</strong></figcaption>
        </div>
        <nav class="navbar">
          <ul>
            <li><a href="#" class="home">Home</a></li>
            <li><a href="#" class="servicw">Service</a></li>
            <li><a href="#" class="blog">Blog</a></li>
            <li><a href="#" class="about">About Us</a></li>
          </ul>
        </nav>
        <div class="action">
          <button class="login"><strong>Login</strong></button>
          <button class="grab"><strong>Book Now</strong></button>
        </div>
      </header>
      <main>
        <div class="col-1">
          <div class="head">
            <h1>Get the healthcare you need, when you need it.</h1>
          </div>
          <div class="capt">
            <p>
              Manage all of your healthcare needs in one convenient place from
              booking appointments to tracking your health history.
            </p>
          </div>
          <div class="cta">
            <button class="call">Book an Appointment</button>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="container-card">
              <div class="top">
                <div class="profile">
                  <img src="/src/img/Ellipse 1.svg" alt="photo" />
                  <figcaption><strong>Jane Doe</strong></figcaption>
                </div>
                <div class="iconQ">
                  <img src="/src/img/FrameD.svg" alt="icon quote" />
                </div>
              </div>
              <div class="description">
                <p>
                  “The doctor appointment app has been great for me. Scheduling
                  appointments and getting medication reminders is much easier,
                  and I love the option for virtual consultations. I'd recommend
                  this app to others.”
                </p>
              </div>
            </div>
          </div>
          <div class="bg">
            <img src="/src/img/image 1.png" alt="med" />
          </div>
        </div>
      </main>

      <footer>
        <div class="container-footer">
          <section class="section 1">
            <div class="icon-1">
              <img src="/src/img/FrameA.svg" alt="calender" />
            </div>
            <div class="desc 1">
              <h1>Online appointment scheduling</h1>
              <p>
                Allows users to schedule appointments with their healthcare
                provider through the app.
              </p>
            </div>
          </section>
          <section class="section 2">
            <div class="icon-2">
              <img src="/src/img/FrameB.svg" alt="Bel" />
            </div>
            <div class="desc 2">
              <h1>Medication reminders</h1>
              <p>
                Allows users to schedule appointments with their healthcare
                provider through the app.
              </p>
            </div>
          </section>
          <section class="section 3">
            <div class="icon 3">
              <img src="/src/img/FrameC.svg" alt="Camera" />
            </div>
            <div class="desc 3">
              <h1>Virtual consultations</h1>
              <p>
                Allows users to schedule appointments with their healthcare
                provider through the app.
              </p>
            </div>
          </section>
        </div>
      </footer>
    </div>
  </body>
</html>
